<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
  <data-source>
    <name>java:app/microprofile/employees</name>
    <class-name>com.mysql.cj.jdbc.MysqlConnectionPoolDataSource</class-name>
    <server-name>localhost</server-name>
    <database-name>employees</database-name>
    <user>root</user>
    <password>Dr3cVhcAB!d#6WqU</password>
    <property>
      <name>useSSL</name>
      <value>false</value>
    </property>
    <property>
      <name>requireSSL</name>
      <value>true</value>
    </property>
    <property>
      <name>serverTimezone</name>
      <value>America/Lima</value>
    </property>
  </data-source>

</web-app>
